---
import Troll from '../components/Troll.svelte'
---
<div class="flex flex-col">
    <p class=" text-9xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Adipisci 
        magnam numquam voluptas minima dolor voluptatum delectus ducimus architecto ipsa consequatur enim cumque, omnis odio id explicabo eveniet facere quia vero.
    </p>
    <h2 class="text-9xl">I, am</h2>
    <Troll client:visible />
</div>